@import "reset.css";
body{
    background-color: #f6f9fc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding: 50px 0px;

}
h1{
    margin: 10px 10px; /*위아래좌우 간격*/
    background-color: gold;
    padding: 10px 10px 10px 10px;
    width: 800px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0,0,0,0.2);
    color: rebeccapurple;
    text-transform: uppercase;
    font-weight:  bolder;
    font-size: 50px;
    align-self: center;
    
}

.canvas {
    
    width: 700px; /*흰도화지 생성*/
    height: 700px;
    background-color: white;
    border-radius: 20px; /*도화지 모서리 둥글게*/
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.controls .controls__btns{
    margin-bottom: 30px;
}

.controls__btns button{
    all:unset;
    cursor: pointer;
    background-color: white;
    padding: 10px 0px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.8);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}

.controls__btns button:active{
    transform:scale(0.98);  /*이작업을 통해 버튼을 눌렀을떄(active)일때 말랑말랑하게 눌리는 버튼 느낌을 줄 수 있음*/
}


.controls .controls__colors{
    display: flex;
}


.controls__colors .controls__color{
    width: 50px;
    height: 50px; /*색깔 모양 버튼 생성*/
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 25px; /*둥글게 만들기 사이즈가 가로새로 50이므로 반경 25면 동그라미됨*/
}

.controls .controls__range{
    margin-bottom: 20px;
}